.padrao{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 5px;
    width: 20%;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(rick.jpg);
}
body h1, body label{
    font-family: 'Creepster', cursive;
    font-size: 45px;
    text-align: center;
}
.avatar{
    box-shadow:5px 5px 10px;
    border-radius: 100px;
}
form{
    margin: 50px 0 80px;
    text-align: center;
}

 form p{
    display: block;
    font-size: 30px;
    margin-bottom: 0 0 10px;
    padding: 10px;
}
form label{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}
.btnGravar{
    text-decoration: none;
    cursor: pointer;
    width: 5%;
    padding: 15px 0;
    margin-right: 100px;
    background: rgb(0, 88, 189);
    color: white;
    box-shadow: 3px 2px rgb(145, 145, 145);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s all;
}
.btnGravar:hover{
    background:  rgb(0, 71, 153);
   
}

.btnGravar:active{
    background:  rgb(0, 42, 90);
    box-shadow: none;
}

.btnFiltro{
    text-decoration: none;
    cursor: pointer;
    width:5%;
    padding: 15px 30px;
    background: rgb(189, 154, 0);
    color: white;
    box-shadow: 3px 2px rgb(145, 145, 145);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s all;
}
.btnFiltro:hover{
    background: rgb(153, 125, 0);
   
}

.btnFiltro:active{
    background: rgb(114, 93, 0);
    box-shadow: none;
}
.btnPesquisar{
    text-decoration: none;
    cursor: pointer;
    width: 5%;
    padding: 15px 0;
    margin-right: 100px;
    background: rgb(0, 88, 189);
    color: white;
    box-shadow: 3px 2px rgb(145, 145, 145);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s all;
}
.btnPesquisar:hover{
    background:  rgb(0, 71, 153);
   
}

.btnPesquisar:active{
    background:  rgb(0, 42, 90);
    box-shadow: none;
}
.btnCadastrar{
    text-decoration: none;
    cursor: pointer;
    width:5%;
    padding: 15px 15px;
    background: rgb(189, 154, 0);
    color: white;
    box-shadow: 3px 2px rgb(145, 145, 145);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s all;
}
.btnCadastrar:hover{
    background: rgb(153, 125, 0);
   
}

.btnCadastrar:active{
    background: rgb(114, 93, 0);
    box-shadow: none;
}
.btnDelete{
    text-decoration: none;
    cursor: pointer;
    background: red;
    color: white;
    box-shadow: 3px 2px rgb(145, 145, 145);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 1s all;
}
.btnNome{
    text-decoration: none;
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
table{
    display: inline-block;
    font-size: 30px;
}
thead{
    
    background: #555555;
    color: white;
}
thead #nomebusca{
    background: #ffffff;
}
tbody td, tbody th{
    border: 1px solid black;
    padding: 10px 20px;
    background-color: aliceblue;
}





